%input_pattern {
			display: block;
		    border: 0px;
		    border-bottom: 1px solid #d0dce7;
		    color: #3f454a;
		    font-size: 16px;
		    line-height: 32px;
		    padding-left: 5px;
		    margin-top: 16px;
		    min-height: 33px;

			    &:focus {
			    	outline: 0;
			    }
		}

%confirm_cancel_login-button {
			margin-top: 30px;
			width: 97px;
			height: 30px;
			box-sizing: border-box;
			background-color: #007ee5;
			color: #fff;
			font-size: 13px;
			border: 0px;
			font-weight: 600;
			cursor: pointer;
			border-radius: 3px;
}

%react_placeholder {
	position: absolute;
    z-index: 10;
    font-size: 12px;
    color: #a6b0b7;
    animation-duration: 2s ;
     -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
    left: 5px;
    font-size: 16px;
}

@keyframes reactmovedeskemail {
	from {top: 20px;}
	to {top: -18px; font-size: 12px;}
}
@keyframes reactmovedeskpass {
	from {top: 60px;}
	to {top: 20px; font-size: 12px;}
}

.login_box-email_input_text {
    animation-name: reactmovedeskemail;
}
.login_box-password_input_text {
    animation-name: reactmovedeskpass;
}



@keyframes reactmovesettingscurrent {
	from {top: 40px;}
	to {top: -20px; font-size: 12px;}
}

@keyframes reactmovesettingsnew {
	from {top: 40px;}
	to {top: -20px; font-size: 12px;}
}

@keyframes reactmovesettingsrepeat {
	from {top: 20px;}
	to {top: -20px; font-size: 12px;}
}

.body_profile-settings-settingscurrent {
	@extend %react_placeholder;
    animation-name: reactmovesettingscurrent;
}
.body_profile-settings-settingsnew {
	@extend %react_placeholder;
    animation-name: reactmovesettingsnew;
}
.body_profile-settings-settingsrepeat {
	@extend %react_placeholder;
    animation-name: reactmovesettingsrepeat;
}




@keyframes reactmovemobilefirst {
	from {top: 40px;}
	to {top: -20px; font-size: 12px;}
}

@keyframes reactmovemobilelast {
	from {top: 45px;}
	to {top: 15px; font-size: 12px;}
}

@keyframes reactmovemobilewebsite {
	from {top: 45px;}
	to {top: 15px; font-size: 12px;}
}

@keyframes reactmovemobilephone {
	from {top: 45px;}
	to {top: 15px; font-size: 12px;}
}

@keyframes reactmovemobileadress {
	from {top: 45px;}
	to {top: 15px; font-size: 12px;}
}

.body_profile-info_edit-_firstmobile {
	@extend %react_placeholder;
	animation-name: reactmovemobilefirst;
}

.body_profile-info_edit-_lastmobile {
	@extend %react_placeholder;
	animation-name: reactmovemobilelast;
}

.body_profile-info_edit-_websitemobile {
	@extend %react_placeholder;
	animation-name: reactmovemobilewebsite;
}

.body_profile-info_edit-_phonemobile {
	@extend %react_placeholder;
	animation-name: reactmovemobilephone;
}

.body_profile-info_edit-_adressmobile {
	@extend %react_placeholder;
	animation-name: reactmovemobileadress;
}

.ui-loader.ui-corner-all.ui-body-a.ui-loader-default {
    display: none;
}

.relative {
	position: relative;
}

.container.website section {
	background-color: #fff;
	margin-top: 35px;
	box-shadow: 0px 3px 12px #e1e1e1;
    -webkit-box-shadow: 0px 3px 12px #e1e1e1;
    -moz-box-shadow: 0px 3px 12	px #e1e1e1;
    border: 1px solid #e6eaec;
	padding-top: 38px;
	padding-left: 34px!important;
	padding-bottom: 365px;
}

.body_profile-info {



	span.editabsolutedesktop.ion-edit:before {
	    content: "";
	}

	span.editabsolutedesktop {
	    position: absolute;
	    top: 0px;
	    right: 0px;
	    width: 43px;
	    height: 37px;
	    cursor: pointer;

	    &:hover:before {
		    background-color: #007ee5;
		    color: #fff;
		    cursor: pointer;
		    content: "\f2bf";
		    height: 37px;
		    width: 43px;
		    padding-top: 11px;
		    text-align: center;
		    box-sizing: border-box;
		    content: "\f2bf";
	    }
	}

	div {

		form > span {
			@extend %react_placeholder;
			left: 26px;
    		top: 15px;
    		font-size: 12px;
		}

		> div {

		    position: absolute;
		    z-index: 10;
		    background-color: #fff;
		    right: -225px;
	    	top: -10px;
	    	box-shadow: 0px 3px 26px 4px #e1e1e1;
		    -webkit-box-shadow: 0px 3px 26px 4px #e1e1e1;
		    -moz-box-shadow: 0px 3px 26px 4px #e1e1e1;
	        padding: 22px 19px 22px 21px;
	        max-width: 255px;

	        &:before {
	        	content: "";
			    position: absolute;
			    margin-top: 0px;
			    background-color: #fff;
			    width: 28px;
			    height: 24px;
			    -ms-transform: rotate(7deg);
			    -webkit-transform: rotate(7deg);
			    transform: rotate(45deg);
			    left: -10px;
			    z-index: 9;
	        }

	    	input {
	    		@extend %input_pattern;
	    		width: 100%;
	    		margin-top: 12px;
	    	}

	    	button {
				@extend %confirm_cancel_login-button;
				margin-top: 20px;
			    background-color: #fff;
			    color: #55a9ee;
			    border: 1px solid #55a9ee;
	    	}

	    	button.save {
	    		margin-right: 16px;
	    	}
		}

	}

	> div {
		position: relative;
		margin-bottom: 1px;
		background-color: #f5f8f8;
    	display: inline-block;

    	> div {
    		display: none;
    	}
	}

	div:before {
		color: #a8b8c4;
    	font-size: 18px;
    	padding-left: 6px;
    	margin-right: 5px;
	}

	a:before {
	    background-color: #ecf1f5;
	    border: 0px;
	    width: 43px;
	    height: 37px;
	    font-size: 16px;
	    text-align: center;
	    padding-top: 11px;
	    box-sizing: border-box;
	}

	a:hover:before {
		background-color: #007ee5;
		color: #fff;
		cursor: pointer;
	}

	h3, h4 {
		display: inherit;
		margin-right: 14px;
	}

	h2 {
		color: #727e88;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 28px;

		&:before {
			display: none;
		}
	}

	h3 {
		color: #3f454a;
		font-weight: 600;
		font-size: 16px;
		padding-left: 5px;
	}

	h4 a {
		text-decoration: none;
    	color: #3f454a;
	}

	h4 {
		font-size: 14px;
    	color: #3f454a;
	}

	.ion-android-globe {
 		a:before {
		   margin-left: 9px;

 		}
 	}

 	.ion-ios-telephone-outline {
 		a:before {
		   margin-left: 20px;

 		}
 	}

 	.ion-ios-home-outline {
 		a:before {
		   margin-left: 11px;

 		}
 	}

 	h3.header_bottom_profile-info_header-job {
 		display: none;
 	}

 }

 .body_profile-settings {

 	h2 {
 		color: #727e88;
    	font-size: 24px;
    	font-weight: 500;
    	margin-bottom: 28px;
 	}

 	form {

 		input {
 			@extend %input_pattern;
 			margin-bottom: 27px;
		}

		.save, .cancel {
			@extend %confirm_cancel_login-button;
			margin-top: 3px;
		}

		.cancel {
			display: none;
		}
 	}
 }

.body_profile-info_edit {
	display: none;
}

 .body_profile-settings {
    display: none;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */