@media screen and (max-width: 767px) {

    .login_bg {
        background: #fff;

        .container.login {

            max-width: 275px;
            padding: 0px;

            > * {
                padding: inherit;
            }

            .login_box {
                box-shadow: inherit;
                -webkit-box-shadow: inherit;
                -moz-box-shadow: inherit;
                padding: 0px;
                border: 0px;
                margin-top: 55px;
                margin-bottom: 0px;

                h1 {
                    font-weight: 500;
                    padding-bottom: 46px;
                }

                hr {
                    display: none;
                }

                form {

                    input {
                        margin-top: 50px;
                    }

                    h4 {
                        text-align: left;
                        word-break: break-all;
                        word-spacing: 3px;
                        margin: 32px auto 0px;

                    }

                    button.login {
                        position: fixed;
                        bottom: 0px;
                        max-width: 275px;
                        margin-top: 0px;
                        overflow: visible;

                        &:before {
                            content: "";
                            height: 45px;
                            width: 400px;
                            background-color: #007ee5;
                            position: absolute;
                            left: -300px;
                        }

                        &:after {
                            content: "";
                            height: 45px;
                            width: 400px;
                            background-color: #007ee5;
                            position: absolute;
                            right: -300px;
                        }
                    }

                }
            }
        }
    }

}