@media screen and (max-width: 767px) {

	.container.website {
		height: 100%;
	}

	.container.website section {
		
		margin-top: 91px;
		border: 0px;
	    border-top: 1px solid #d0dce7;
	    border-bottom: 1px solid #d0dce7;
	    padding-bottom: 21px;
        padding-top: 20px;
   		padding-left: 23px!important;
	    margin-bottom: 34px!important;
		box-shadow: initial;
	    -webkit-box-shadow: initial;
	    -moz-box-shadow: initial;

	}

	.body_profile-info {

		span.editabsolute {
		    position: absolute;
		    width: 30px;
		    height: 25px;
		    top: 20px;
		    right: 25px;
		}

		div {
			
			background-color: transparent;
    		margin-bottom: 14px;

			a:before {
				display: none;	
			}
	    
	    }

	    div:before {
	    	vertical-align: middle;
	    }

	    image {
	    	-webkit-box-shadow: 0px 1px 43px -3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 1px 43px -3px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 1px 43px -3px rgba(0, 0, 0, 0.3);
	    }


		h3.header_bottom_profile-info_header-job {
			display: block;
			font-size: 14px;
		    font-weight: 500;
		    margin-top: 13px;
		    margin-bottom: 5px;
		}

		h2 {
			margin-bottom: 14px;
			font-size: 20px;

			&:before {
				display: block;
			    position: absolute;
			    right: 25px;
			    background-color: #ecf1f5;
			    width: 30px;
			    height: 25px;
			    text-align: center;
			    padding-top: 3px;
			    box-sizing: border-box;
			    font-size: 18px;
			}
		}
	}

	.body_profile-info_edit {

		padding-bottom: 6px;
		padding-right: 10px;

		span.editabsolutedesktop {
			display: none;
		}

		.cancel {
    		float: left;
		    margin-right: 68px
		}

		h2 {
			color: #727e88;
			font-weight: 500;
		    margin-bottom: 14px;
		    font-size: 20px;
    		margin-bottom: 34px;

			&:before {
				display: none;
			}
		}

		input {
			display: block;
		    border: 0px;
		    border-bottom: 1px solid #d0dce7;
		    color: #3f454a;
		    font-size: 16px;
		    line-height: 32px;
		    padding-left: 5px;
		    margin-top: 34px;
		    width: 100%;

			    &:focus {
			    	outline: 0;
			    }
		}

			.save, .cancel {
				color: #007ee5;
			    width: initial;
			    background-color: transparent;
			    height: initial;
			    font-size: 14px;
			    margin-top: 0px;
			    position: absolute;
			    top: 31px;
			    right: 30px;
			    border: 0px;
    			font-weight: 600;
			}
	}

	.body_profile-settings {

		padding-bottom: 6px;
		padding-right: 10px;

		h2 {
			font-size: 20px;
			margin-bottom: 34px;
		}

		form {

			input {
				margin-top: 34px;
				line-height: 30px;
				width: 100%;
			}

			.cancel {
				display: block;
				float: left;
    			margin-right: 68px;
			}

			.save, .cancel {
				color: #007ee5;
			    width: initial;
			    background-color: transparent;
			    height: initial;
			    font-size: 14px;
			    margin-top: 0px;
			    position: absolute;
			    top: 31px;
			    right: 30px;
			}

		}


	}



}